@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$bgColor: #fcfff8;
$color: #fffb88;

.zmiti-game-main-ui {
    z-index: -1;
    opacity: 0;

    @include displayBox(horizontal);
    @include pos(r);

    .wm-game-main-content {
        width: 680px;
        height: 100vh;

        @include displayBox(vertical);

        .wm-game-reel {
            height: 50px;

            img {
                display: block;

                @include pos(r);

                top: 15px;
            }
        }

        .wm-game-reel1 {
            img {
                top: -5px;
            }
        }

        .wm-game-area {
            -webkit-box-flex: 1;
            width: 624px;

            @include transform(scale(0.99, 1));
            @include transformOrigin(left);

            box-flex: 1;

            @include displayBox(horizontal);

            .wm-game-wrap {
                height: 100%;
                width: 630px;

                @include pos(r);

                &:before {
                    z-index: -1;
                    content: '';

                    @include pos(a);

                    width: 100%;
                    left: 0;
                    top: 0;
                    height: 100%;
                    background: -webkit-linear-gradient(top, #a46e35, #e2c06c 30%, #a46e34 100%);
                }

                @include displayBox(vertical);

                & > div {
                    margin: 20px 0;
                    box-sizing: border-box;
                    width: 90%;

                    &:nth-of-type(1) {
                        box-flex: 2;
                        -webkit-box-flex: 2;
                        background: #fff;
                        font-size: 30px;

                        h1 {
                            text-align: center;
                            text-indent: 0;
                            color: #c42542;
                            font-weight: normal;
                        }
                    }

                    &.wm-game-Q-content {
                        background: #f2ede1;
                        box-flex: 5;
                        -webkit-box-flex: 5;

                        @include pos(r);

                        overflow: hidden;

                        .wm-game-Q-C {
                            @include pos(a);


                            width: 500px;
                            left: 30px;
                            top: 30px;
                            height: 92%;
                            border: 2px solid #e4c26d;
                            background: #fff;

                            @include displayBox(horizontal);

                            label {
                                @include pos(a);

                                background: #fff;

                                &:nth-of-type(1) {
                                    width: 700px;
                                    height: 30px;
                                    z-index: 10;
                                    left: -33px;
                                    top: -33px;
                                }

                                &:nth-of-type(2) {
                                    left: -33px;
                                    width: 700px;
                                    height: 30px;
                                    z-index: 10;
                                    bottom: -33px;
                                }

                                &:nth-of-type(3) {
                                    width: 30px;
                                    height: 103%;
                                    z-index: 10;
                                    left: -33px;
                                    top: -10px;
                                }

                                &:nth-of-type(4) {
                                    top: -10px;
                                    width: 30px;
                                    height: 103%;
                                    z-index: 10;
                                    right: -32px;
                                }
                            }

                            & > span {
                                border-right: 2px solid #e4c26d;

                                @include transform(rotate(45deg));
                                @include pos(a);

                                $size: 50px;

                                z-index: 10;
                                width: $size;
                                height: $size;
                                background: #fff;

                                @include br;

                                left: -$size / 2;
                                top: -$size / 2;

                                &:nth-of-type(2) {
                                    left: auto;
                                    right: -$size / 2;

                                    @include transform(rotate(135deg));
                                }

                                &:nth-of-type(3) {
                                    top: auto;
                                    bottom: -$size / 2;

                                    @include transform(rotate(-45deg));
                                }

                                &:nth-of-type(4) {
                                    left: auto;
                                    top: auto;
                                    right: -$size / 2;
                                    bottom: -$size / 2;

                                    @include transform(rotate(-135deg));
                                }
                            }

                            & > div {
                                &.active{
                                    opacity:0;
                                    @include transition(.3s);
                                }

                            }

                            .wm-game-result-C {
                                width: 80px;
                                height: 100%;
                                overflow: hidden;

                                ul {
                                    @include displayBox(vertical);

                                    li {
                                        width: 60px;
                                        height: 60px;
                                        -webkit-box-flex: 1;
                                        margin-top: 20px;
                                        @include pos(r);
                                        .wm-game-cultural-pic{
                                            @include pos(a);
                                            
                                            left: 50%;
                                            top: 50%;
                                            max-width: 50px;;
                                            max-height: 50px;
                                            @include transform(translate3d(-50%,-50%,0) scale(.8) rotate(90deg));
                                            
                                            &.wrong{
                                                
                                                @include transform(translate3d(-50%,-50%,0) scale(.5) rotate(90deg));
                                            }
                                        }
                                    }
                                }


                                
                            }

                            .wm-result-page {
                                
                                //
                                @include pos(a);
                                left: 50%;
                                top: 50%;
                                @include transform( translate(-50%,-50%) rotate(90deg));
                                width: 52vh;
                                height: 450px;

                                .wm-result-person{
                                    @include displayBox(horizontal);
                                    img{
                                        width: 100px;
                                    }
                                    text-align: center;
                                    margin:100px 0 50px 0;
                                    div{
                                        div:nth-of-type(1){
                                            color:#b20000;
                                        }
                                    }
                                }
                                .wm-result-btns{
                                    @include displayBox(horizontal);
                                    margin: 40px 0;
                                    div{
                                        margin: 0 20px;
                                    }
                                    img{
                                        width: 250px;
                                    }
                                }
                                .wm-share{
                                    text-align: right;
                                    span{
                                        margin-right: 30px;
                                        text-decoration: underline;;
                                        font-size:26px;
                                    }
                                }
                            }

                            .wm-game-main-place {
                                -webkit-box-flex: 1;
                                height: 100%;
                                overflow: hidden;
                                ul{
                                    @include displayBox(horizontal);
                                    -webkit-box-align: start;
                                    li{
                                        box-sizing:border-box;
                                        -webkit-box-flex:1;

                                        margin-left:50px;

                                        .wm-result-img{
                                            @include pos(a);
                                            z-index: 10;
                                            $size:50px;
                                            width: $size;
                                            left: 50%;
                                            top: 50%;
                                            margin-left: -$size/2;
                                            margin-top: -$size/2;
                                            @include transform(rotate(90deg));

                                        }
                                            
                                        div{
                                            margin: 20px 0;
                                            @include pos(r);
                                            img{
                                                width: 90%;
                                                display: inline-block;
                                            }
                                            span{
                                                font-size:24px;
                                                @include pos(a);
                                                left: 0;
                                                display: inline-block;
                                                text-align: center;
                                                width: 100%;
                                                height: 100%;
                                                min-width: 200px;
                                                @include transformOrigin(left top);;
                                                @include transform(rotate(90deg) );
                                            }
                                        }
                                    }
                                }
                            }

                            .wm-game-time {
                                width: 80px;
                                height: 100%;

                                @include displayBox(vertical);

                                div {
                                    &:nth-of-type(1) {
                                        width: 120px;
                                        height: 120px;
                                        @include pos(r);
                                        div{
                                            text-indent: 1em;
                                            width: 120%;
                                            height: 50%;
                                            line-height: 60px;
                                            @include pos(a);
                                            background:#e4c26d;

                                            color:#fff;
                                            border-top-right-radius: 30px;
                                            border-bottom-right-radius: 30px;
                                            @include transform(translate(-50px,20px) rotate(90deg));
                                        }
                                    }

                                    &:nth-of-type(2) {
                                        -webkit-box-flex:1;
                                        @include  pos(r);
                                        width: 100%;
                                        &>div{
                                            @include transformOrigin(left top);
                                            @include transform( translate(100px,0) rotate(90deg));
                                            line-height: 130px;;
                                            @include pos(a);
                                            left: 0;
                                            top: 0;
                                            width: 100%;
                                            height: 100%;
                                            text-align: center;
                                            span{
                                                color:#c42542;
                                            }
                                            img{
                                                width: 70px;
                                            }

                                        }
                                    }

                                    &:nth-of-type(3) {
                                        width: 120px;
                                        height: 120px;
                                         @include pos(r);

                                         div {
                                             text-indent: 1em;
                                             width: 100%;
                                             height: 50%;
                                             line-height: 60px;
                                             @include pos(a);
                                             background: #c42542;

                                             color: #fff;
                                             border-top-left-radius: 30px;
                                             border-bottom-left-radius: 30px;
                                             @include transform(translate(-36px, 40px) rotate(90deg));
                                         }
                                    }
                                }
                            }
                        }
                    }
                }

                .wm-game-Q {
                    @include pos(r);

                    & > section {
                        @include pos(a);

                        width: 100%;
                        height: 100%;

                        @include transform(scale(0.9, 0.8));

                        background: #f2ede1;
                        border: 2px solid #e4c26d;

                        label {
                            @include pos(a);

                            background: #fff;

                            &:nth-of-type(1) {
                                width: 100%;
                                height: 30px;
                                z-index: 10;
                                top: -33px;
                            }

                            &:nth-of-type(2) {
                                width: 100%;
                                height: 30px;
                                z-index: 10;
                                bottom: -33px;
                            }

                            &:nth-of-type(3) {
                                width: 30px;
                                height: 100%;
                                z-index: 10;
                                left: -33px;
                            }

                            &:nth-of-type(4) {
                                width: 10px;
                                height: 100%;
                                z-index: 10;
                                right: -30px;
                            }
                        }

                        &>span {
                            border-right: 2px solid #e4c26d;

                            @include transform(rotate(45deg));
                            @include pos(a);

                            $size: 50px;

                            z-index: 10;
                            width: $size;
                            height: $size;
                            background: #fff;

                            @include br;

                            left: -$size / 2;
                            top: -$size / 2;

                            &:nth-of-type(2) {
                                left: auto;
                                right: -$size / 2;

                                @include transform(rotate(135deg));
                            }

                            &:nth-of-type(3) {
                                top: auto;
                                bottom: -$size / 2;

                                @include transform(rotate(-45deg));
                            }

                            &:nth-of-type(4) {
                                left: auto;
                                top: auto;
                                right: -$size / 2;
                                bottom: -$size / 2;

                                @include transform(rotate(-135deg));
                            }
                        }

                        .wm-game-Q-title {
                            height: 100%;

                            @include pos(a);

                            width: 62%;
                            left: 5%;

                            &:after {
                                content: '';
                                width: 2px;
                                height: 80%;
                                top: 10%;
                                background: #e4c26d;
                                right: -8px ;

                                @include pos(a);
                            }

                            & > div {
                                padding: 20px;
                                box-sizing: border-box;
                                width: 280px;
                                text-indent: 2em;
                                height: 340px;
                                overflow: hidden;

                                @include transformOrigin(left top);
                                @include transform(rotate(90deg) translate3d(0, -350px, 0));

                                div{
                                    &.fade-enter-active, &.fade-leave-active {
                                      @include transition(.5s);
                                    }
                                    &.fade-enter, &.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
                                      opacity: 0;
                                      @include transform(translate(-200px,0));
                                    }
                                }
                            }
                        }

                        .wm-game-Q-pic {
                            width: 200px;
                            height: 280px;

                            @include pos(a);
                            @include displayBox(vertical);

                            right: 0;
                            top: 0%;

                            @include transform(translate3d(0, 0%, 0));
                            img{
                                @include transform(rotate(90deg));
                            }
                        }
                    }

                    img {
                        width: auto;
                        height: auto;
                        max-width: 92%;
                        max-height: 92%;
                        display: block;
                    }
                }
            }
        }
    }

    &.show {
        z-index: 520;
        opacity: 1;
    }


}
 .wm-mask{
    background:rgba(0,0,0,.7);
    position: fixed !important;
    text-align: right;
    img{
        width: 50%;
        margin-right: 10px;
        margin-top: 10px;

    }
}


.wm-copyright{
    color:#be0000;
    @include pos(a);
    width: 66vh;
    height: 60px;
    line-height: 60px;
    bottom:66vh;
    left: 0;
    @include transform(rotate(90deg));
    @include transformOrigin(left bottom);
    text-align: center;
}

.wm-game-loading{
    position:fixed !important;
    background:rgba(0,0,0,.7);
    @include displayBox(horizontal);
    z-index: 100;
    span{
        display: block;
        font-size: 200px;
        @include pos(a);
        left: 50%;
        top: 50%;
        color:#fff;

        @include transform(translate(-50%,-50%) rotate(90deg));;
        &.fade-enter-active, &.fade-leave-active {
          transition:opacity .3s, font-size .5s;
          -webkit-transition:opacity .3s, font-size .5s;
        }
        &.fade-enter, &.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
          opacity: 0;
          @include transform(translate(-50%,-50%) rotate(90deg));;
          font-size:100px;
        }
    }
}